pymupdf
pytesseract
pillow
pytest
pytest-cov
mypy
fastapi
uvicorn
python-multipart
numpy
sentence-transformers
faiss-cpu
--extra-index-url https://download.pytorch.org/whl/cpu
torch
tiktoken 
pydantic
pytest-asyncio
openai
python-dotenv
mkdocs
mkdocs-mermaid2-plugin